<div class="jumbotrom-inner">
  <div class="jumbotrom-overlay">
    <div class="container text-center py-5">
      <h1 class="display-3 bold text-white cinzel mt-5 pt-5">MONGO SCRAPER</h1>
      <h2 class="text-light cinzel">New York Times Edition</h2>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="bg-warning py-3 m-3 text-center text-light">
    <h6 class="montse">Uh Oh. Looks like we don't have any new articles.</h6>
  </div>

  <div class="card text-center m-3">
    <h5 class="card-header bg-primary py-3 my-2 text-white">What Would You Like To Do?</h5>
    <div class="card-body">
      <btn class="btn btn-link text-primary scrape h5">Try Scraping New Articles</btn>
      <hr>
      <a href="/saved" class=" btn btn-link text-primary h5">Go to Saved Articles</a>
    </div>
  </div>
</div>